// ---------------------------------------------------------------------
//  @font face
// ---------------------------------------------------------------------

@font-face {
    font-family: 'SFUI-display';
    src: url('../fonts/sfuidisplay-light-webfont.woff2') format('woff2'),
         url('../fonts/sfuidisplay-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUI-text';
    src: url('../fonts/sf-ui-text-bold-webfont.woff2') format('woff2'),
         url('../fonts/sf-ui-text-bold-webfont.woff') format('woff'),
         url('../fonts/sf-ui-text-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SFUI-text';
    src: url('../fonts/sf-ui-text-light-webfont.woff2') format('woff2'),
         url('../fonts/sf-ui-text-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'SFUI-text';
    src: url('../fonts/sf-ui-text-medium-webfont.woff2') format('woff2'),
         url('../fonts/sf-ui-text-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFUI-text';
    src: url('../fonts/sf-ui-text-regular-webfont.woff2') format('woff2'),
         url('../fonts/sf-ui-text-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUI-text';
    src: url('../fonts/sf-ui-text-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/sf-ui-text-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'sf_mono';
    src: url('../fonts/sfmono-regular-webfont.woff2') format('woff2'),
         url('../fonts/sfmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
