---
layout: default
title: Events
id: events
permalink: /events/
---

{% for page in site.data.event-landing %}
<div class="blankslate">
    <div class="blankslate__content" data-animate-in="fade">
        <p class="p text-bold text-white mb-2">{{ page.subHeadline }}</p>
        <h2 class="hxl text-white">{{ page.headline }}</h2>
        {% if page.ctaLink and page.ctaText %}
            <a class="btn btn-primary btn-inline" href="{{ page.ctaLink }}">{{ page.ctaText }}</a>
        {% endif %}
        {% if page.cta2Link and page.cta2Text %}
            <a class="btn btn-outline-white" href="{{ page.cta2Link }}">{{ page.cta2Text }}</a>
        {% endif %}
    </div>

    <figure class="bg-image">
        <img src="/assets/images/{{ page.featuredImg }}" alt="{% if page.featuredImgDesc %}{{ page.featuredImgDesc }}{% else %}{{ title }}{% endif %}" />
    </figure>
</div>
{% endfor %}

<div class="container mt-9 mb-8 pr-3 pl-3">
    <div class="event-list">
    {% assign eventLoop = site.events | sort: 'date' %}
    {% for event in eventLoop %}
        {% assign dataFile = event.id | remove: 'events' | remove: '/' %}

        {% capture new_var %}site.data.{{ dataFile }}{% endcapture %}
        {% assign url = event.url %}

        {% for page in site.data[dataFile] %}
        <article class="event-preview" data-animate-in="up">
            <figure class="bg-image">
                <img data-animate-in="fade" src="/assets/images/{{ page.previewImg }}" alt="{{ page.name }}" />
            </figure>

            <div class="event-preview__content">
                <h3 class="h2 mb-2">{{ page.name }}</h3>
                <p>{{ page.shortDescription }}</p>

                <div class="event-preview__details mt-3 mb-3">
                    {% if page.location %}<p class="event-preview__location">{{ page.location }}</p>{% endif %}
                    {% if page.date %}<p class="event-preview__date">{{ page.date }}</p>{% endif %}
                    {% if page.capacity %}<p class="event-preview__capacity">{{ page.capacity }}</p>{% endif %}
                </div>
                <a class="btn btn-outline" href="{{ url }}">View Event Details</a>
            </div>
        </article>
        {% endfor %}
    {% endfor %}
    </div>
</div>
