---
layout: default
title: Why sponsor with GitHub
id: why-sponsor
permalink: /why-sponsor/
---
{% for page in site.data.why-sponsor %}

<div class="blankslate">
    <div class="blankslate__content" data-animate-in="fade">
        <h2 class="hxl text-white">{{ page.headline }}</h2>
        <p class="p-lg-alt text-white">{{ page.subHeadline }}</p>
        {% if page.ctaLink and page.ctaText %}
            <a class="btn btn-primary btn-inline" href="{{ page.ctaLink }}">{{ page.ctaText }}</a>
        {% endif %}
        {% if page.cta2Link and page.cta2Text %}
            <a class="btn btn-outline-white" href="{{ page.cta2Link }}">{{ page.cta2Text }}</a>
        {% endif %}
    </div>

    <figure class="bg-image">
        <img src="/assets/images/{{ page.featuredImg }}" alt="{% if page.featuredImgDesc %}{{ page.featuredImgDesc }}{% else %}{{ title }}{% endif %}" />
    </figure>
</div>

<div class="media-object mt-8 mb-8">
    <div class="media-object__content">
        <div class="pl-3 pr-3" data-animate-in="up">
            <h3 class="h1">{{ page.sectionOneHeadline }}</h3>
            <p>{{ page.sectionOneContent }}</p>
        </div>
    </div>
    <div class="media-object__figure hide-sm hide-md" data-animate-in="up">
        <img class="mb-3 mx-auto" style="max-width: 96%; width: 480px;" src="/assets/images/{{ page.sectionOneImg }}" alt="{{ page.sectionOneImgDesc }}" />
    </div>
</div>

<div class="media-object bg-gray" data-animate-in="up">
    <div class="media-object__figure">
        <div class="blocks blocks--half">
            <figure class="block blocks__1">
                <img src="/assets/images/{{ page.sectionTwoImg1 }}" alt="{{ page.sectionTwoImgDesc1 }}" />
            </figure>
            <figure class="block blocks__2">
                <img src="/assets/images/{{ page.sectionTwoImg2 }}" alt="{{ page.sectionTwoImgDesc2 }}" />
            </figure>
            <figure class="block blocks__3">
                <img src="/assets/images/{{ page.sectionTwoImg3 }}" alt="{{ page.sectionTwoImgDesc3 }}" />
            </figure>
        </div>
    </div>
    <div class="media-object__content">
        <div class="pl-3 pr-3" data-animate-in="up">
            <h3 class="h1">{{ page.sectionTwoHeadline }}</h3>
            <p>{{ page.sectionTwoContent }}</p>
        </div>
    </div>
</div>


<div class="container-full mt-9 mb-9">
    <div class="container container--thin text-center pr-3 pl-3 mb-6" data-animate-in="fade">
        <h3 class="h1">{{ page.sectionThreeHeadline }}</h3>
        <p>{{ page.sectionThreeContent }}</p>
    </div>
    <div class="container clearfix mt-6 d-md-flex flex-items-stretch pr-3 pl-3">
        <div class="col-12 col-md-4 float-left p-2 card mr-md-2 ml-md-2 mb-4" data-animate-in="up">
            <div class="p-3">
                <p class="text-bold">{{ page.block1Headline }}</p>
                <p class="p-sm">{{ page.block1Content }}</p>
            </div>

        </div>
        <div class="col-12 col-md-4 float-left p-2 card mr-md-2 ml-md-2 mb-4" data-animate-in="up">
            <div class="p-3">
                <p class="text-bold">{{ page.block2Headline }}</p>
                <p class="p-sm">{{ page.block2Content }}</p>
            </div>
        </div>
        <div class="col-12 col-md-4 float-left p-2 card mr-md-2 ml-md-2 mb-4" data-animate-in="up">
            <div class="p-3">
                <p class="text-bold">{{ page.block3Headline }}</p>
                <p class="p-sm">{{ page.block3Content }}</p>
            </div>
        </div>
    </div>

</div>


<aside class="blankslate blankslate--gradient pr-3 pl-3 pt-9 pb-9">
    <div data-animate-in="fade">
        <p class="h1 text-white">{{ page.ctaHeadline }}</p>
        {% if page.ctaContent %}<p class="text-white">{{ page.ctaContent }}</p>{% endif %}
        {% if page.ctaLinkText and page.ctaLinkUrl %}
            <a class="btn btn-primary btn-inline" href="{{ page.ctaLinkUrl }}">{{ page.ctaLinkText }}</a>
        {% endif %}
        {% if page.ctaLinkUrl2 and page.ctaLinkText2 %}
            <a class="btn btn-outline-white" href="{{ page.ctaLinkUrl2 }}">{{ page.ctaLinkText2 }}</a>
        {% endif %}
    </div>
</aside>

{% endfor %}
