// ---------------------------------------------------------------------
//  Blob Styles
// ---------------------------------------------------------------------

.blob-section {
	position: relative;
	z-index: 1;
	overflow: hidden;

	@include breakpoint(lg) {
		display: flex;
		align-items: center;
		padding: 0 0 80px;

		> * {
			width: 50%;
		}
	}
}

// ----------------------------------------
// Content
// ----------------------------------------

.blob-section__content {
	position: relative;
	padding: 80px 16px;
	z-index: 2;

	@include breakpoint(lg) {
		padding: 80px 24px;
		min-width: 53%;

		.blob-section__content-inner {
			max-width: 640px;
			margin: 0 auto;
		}
	}
}


// ----------------------------------------
// Master Blob
// ----------------------------------------
.master-blob {
	position: relative;
	width: 775px;
	margin: 0;
	padding: 0;
	transform: translate3d(80px, -60px, 0);
	display: none;

	@include breakpoint(lg) {
		display: block;
	}

	.bg-image {
		clip-path: url(#clipping);
	}

	svg,
	#blob-fallback {
		position: absolute;
		width: 775px;
		top: 0;
		left: 0;
	}

	.svg-bg {
		position: relative;
		transform: translate3d(20px, 20px, 0);
	}

	.svg-bg-2 {
		top: 0;
		left: 0;
		z-index: -1;
		transform: translate3d(40px, 40px, 0);
	}
}


// ----------------------------------------
// Blob Old
// ----------------------------------------

.blob {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 90%;
    max-width: 840px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;

    max-height: 320px;

    svg {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: auto;
        height: auto;
        max-height: 100%;

        transform: translate3d(-50%, -50%, 0);
    }
}

.blankslate--tall {

    .blob {
        max-height: 630px;
    }
}

.morph-end {
    visibility: hidden;
}

.blob > *:first-child {

}

.blob > *:nth-child(2) {
    margin-top: 20px;
    margin-left: 20px;
}
