// ---------------------------------------------------------------------
//  Blob Styles
// ---------------------------------------------------------------------

// .blob-wrap {
//     position: relative;
//     z-index: 1;
//     //padding: 40px 20px;
//     color: $white;
//     max-width: 840px;
//
//
// }

.blob {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 90%;
    max-width: 840px;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;

    max-height: 320px;

    svg {
        display: block;
        position: absolute;
        //min-width: 100%;
        //width: auto;
        //height: 100%;
        left: 50%;
        top: 50%;


        width: auto;
        height: auto;
        max-height: 100%;

        transform: translate3d(-50%, -50%, 0);
    }
}

.hero--tall {

    .blob {
        max-height: 630px;
    }
}

.morph-end {
    visibility: hidden;
}

.blob > *:first-child {

}

.blob > *:nth-child(2) {
    margin-top: 20px;
    margin-left: 20px;
}



// @keyframes rotateTrigo {
//   to { transform: rotate(360deg); }
// }
// @keyframes rotateAntiTrigo {
//   to { transform: rotate(-360deg); }
// }
