// ---------------------------------------------------------------------
//  Media Styles
// ---------------------------------------------------------------------


.figure-shape {
    position: relative;
    margin: 0 auto;
    padding: 0;
    z-index: 1;

    img {
        height: 234px;
        margin: 0 auto;
    }

    .bg {
        position: absolute;
        top: 0;
        z-index: -1;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        margin: 14px 0 0 10px;

    }
}


// ----------------------------------------
// Gallery
// ----------------------------------------

.offset-gallery {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 32px 0;

    > * {
        overflow: hidden;
        width: 25%;
        position: relative;
        margin: 0;
        padding: 0;
        border: 2px solid white;
        transition: height $trans;
        height: 100px;
        padding-bottom: 15%;

        @include breakpoint(md) {
            width: 12.5%;

            @-moz-document url-prefix() {
                min-height: 210px;
            }
        }

        img {
            object-fit: cover;
            width:100%;
            height:100%;
            position: absolute;
        }
    }

    > *:nth-child(2n + 0) {
        margin-top: -32px;
    }

    @include stop-at($medium) {
        > *:nth-child(4n + 1) {
            border-left: 0;
        }
        > *:nth-child(4n + 0) {
            border-right: 0;
        }
    }

    @include breakpoint(md) {
        > *:nth-child(8n + 1) {
            border-left: 0;
        }
        > *:nth-child(8n + 0) {
            border-right: 0;
        }
    }
}


// ----------------------------------------
// Line Bg
// ----------------------------------------

.line-bg {
    position: relative;
    opacity: 0.3;
}

.testimonials-wrap .line-bg {
    transform-origin: center;
    transform: matrix(1, 0, 0, -1, 0, 0);
}


// ----------------------------------------
// Img Utilities
// ----------------------------------------

.img-full {
    width: 100%;
}

.img-cover {
    object-fit: cover;
    width:100%;
    height:100%;
}

.bg-image {
    @include bg-image;
    padding: 0;
    margin: 0;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
}

// ----------------------------------------
// SVGs
// ----------------------------------------

svg {
	display: block;
	fill: currentColor;
}

.shape-inline {

    > * {
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
    }

    figure {
        margin: 0 4px 0 0;
        padding: 0;
    }
}

// ----------------------------------------
// Media Object
// ----------------------------------------

.media-object {
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;

    @include breakpoint(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > * {
            width: 50%;
        }
    }
}
.media-object__content {
    padding: 40px 16px;

    > * {
        max-width: 640px;
        margin: 0 auto;
    }

    @include breakpoint(md) {
        padding: 80px 24px;
    }
}
.media-object__figure {

}
