// ---------------------------------------------------------------------
//  Table Styles
// ---------------------------------------------------------------------

$table-border: #E1E4E8;

.table-wrap {
    border: 1px solid #E1E4E8;
    box-shadow: 0 2px 4px 0 rgba(27,31,35,0.10);
    border-radius: 6px;
    padding: 24px 16px;
    overflow: scroll;

    @include stop-at($small) {
        font-size: 70%;
    }

}

table {
    color: #586069;
    text-align: center;

    thead {
        text-align: center;
        border-top: 0;

        tr {
            border-top: none;
        }

        td {
            min-width: 150px;
            border-right: none;
            padding: 0 28px;

            .p-sm {
                font-size: 12px;
            }

            @include stop-at($medium) {
                padding: 0 10px;

                .p-sm {
                    font-size: 10px;
                }
            }
        }
    }

    tr {
        border-top: 1px solid $table-border;


        > td:first-child {
            max-width: 210px;
            text-align: left;
            padding: 16px 10px;
            min-height: 70px;
        }

        > td:last-child {
            border-right: none;
        }
    }

    td {
        border-right: 1px solid $table-border;
    }

    img {
        margin: 0 auto;
    }

    > *:last-child {
        border-bottom: 1px solid $table-border;
    }
}
